<div layout="row" layout-fill>
  <md-content layout="column" class="general-panel-left">
    <div layout="column" class="header">
      <img src="res/tantlab-logo.png"/>
      <h1 translate>TITLE</h1>
      <h3 translate>SUBTITLE</h3>
    </div>
    <div class="main-message">
      <p translate>MESSAGE</p>
    </div>
    <div flex></div>
    <div class="content-footer">
      <img src="res/aau-logo.png"/>
    </div>
  </md-content>
  <div layout="column" flex class="general-panel-right tools-grid">
    <md-grid-list
      md-cols-sm="2"
      md-cols-md="4"
      md-cols-gt-md="6"
      md-row-height-gt-md="1:1"
      md-row-height="2:2"
      md-gutter="12px"
      md-gutter-gt-sm="8px"
    >

    <md-grid-tile
      md-rowspan="3"
      md-colspan="4"
      md-rowspan-sm="2"
      md-colspan-sm="2"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-tcat" layout-align="center center" ng-click="goTo('https://github.com/digitalmethodsinitiative/dmi-tcat')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/tcat-logo.png"/>
          <div class="tool-name" translate>TCAT_NAME</div>
          <div class="tool-function" translate>TCAT_CATCHPHRASE</div>
          <ul class="tool-list" translate>TCAT_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <md-button class="md-primary" ng-href="https://github.com/digitalmethodsinitiative/dmi-tcat/wiki"><md-icon>help</md-icon> Wiki</md-button>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="2"
      md-rowspan-md="2"
      md-rowspan-sm="2"
      md-rowspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-table2net" layout-align="center center" ng-click="goTo('http://tools.medialab.sciences-po.fr/table2net/')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/table2net-logo.png"/>
          <div class="tool-name" translate>TABLE2NET_NAME</div>
          <div class="tool-function" translate>TABLE2NET_CATCHPHRASE</div>
          <ul class="tool-list" translate>TABLE2NET_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="2"
      md-rowspan-md="2"
      md-rowspan-sm="2"
      md-rowspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-seealsology" layout-align="center center"  ng-click="goTo('http://tools.medialab.sciences-po.fr/seealsology/')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/seealsology-logo.png"/>
          <div class="tool-name" translate>SEEALSOLOGY_NAME</div>
          <div class="tool-function" translate>SEEALSOLOGY_CATCHPHRASE</div>
          <ul class="tool-list" translate>SEEALSOLOGY_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <md-button class="md-primary" ng-href="https://github.com/densitydesign/strumentalia-seealsology#usage"><md-icon>help</md-icon> Usage</md-button>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="4"
      md-rowspan-sm="2"
      md-colspan-sm="2"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-hyphe" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/hyphe-logo.png"/>
          <div class="tool-name" translate>HYPHE_NAME</div>
          <div class="tool-function" translate>HYPHE_CATCHPHRASE</div>
          <ul class="tool-list" translate>HYPHE_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <div layout="row">
          <md-button class="md-primary" ng-href="http://video.itu.dk/video/11465073/web-crawling-with-hyphe-part-1"><md-icon>help</md-icon> Tutorial 1/2</md-button>
          <md-button class="md-primary" ng-href="http://video.itu.dk/video/11465077/web-crawling-with-hyphe-part-2">2/2</md-button>
          <md-button class="md-primary" ng-href="http://hyphe.medialab.sciences-po.fr/">Website</md-button>
          <md-button class="md-primary" ng-href="http://hyphe.medialab.sciences-po.fr/demo/">Demo</md-button>
        </div>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="4"
      md-rowspan-sm="2"
      md-colspan-sm="2"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-manylines" layout-align="center center" ng-click="goTo('http://tools.medialab.sciences-po.fr/manylines/')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/manylines-logo.png"/>
          <div class="tool-name" translate>MANYLINES_NAME</div>
          <div class="tool-function" translate>MANYLINES_CATCHPHRASE</div>
          <ul class="tool-list" translate>MANYLINES_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <md-button class="md-primary" ng-href="http://medialab.github.io/manylines/"><md-icon>help</md-icon> Documentation</md-button>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="2"
      md-rowspan-md="2"
      md-rowspan-sm="2"
      md-rowspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-sciencescape" layout-align="center center" ng-click="goTo('http://tools.medialab.sciences-po.fr/sciencescape/')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/sciencescape-logo.png"/>
          <div class="tool-name" translate>SCIENCESCAPE_NAME</div>
          <div class="tool-function" translate>SCIENCESCAPE_CATCHPHRASE</div>
          <ul class="tool-list" translate>SCIENCESCAPE_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="2"
      md-rowspan-md="2"
      md-rowspan-sm="2"
      md-rowspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-iwanthue" layout-align="center center" ng-click="goTo('http://tools.medialab.sciences-po.fr/iwanthue/')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/iwanthue-logo.png"/>
          <div class="tool-name" translate>IWANTHUE_NAME</div>
          <div class="tool-function" translate>IWANTHUE_CATCHPHRASE</div>
          <ul class="tool-list" translate>IWANTHUE_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <p><md-button class="md-primary" ng-href="http://tools.medialab.sciences-po.fr/iwanthue/tutorial.php"><md-icon>help</md-icon> Tutorials</md-button></p>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="2"
      md-rowspan-md="2"
      md-rowspan-sm="2"
      md-rowspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-csvrinserepeat" layout-align="center center" ng-click="goTo('http://tools.medialab.sciences-po.fr/csv-rinse-repeat/')">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/csvrinserepeat-logo.png"/>
          <div class="tool-name" translate>CSVRINSEREPEAT_NAME</div>
          <div class="tool-function" translate>CSVRINSEREPEAT_CATCHPHRASE</div>
          <ul class="tool-list" translate>CSVRINSEREPEAT_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <p><md-button class="md-primary" ng-href="https://github.com/medialab/csv-rinse-repeat/raw/master/doc/CSV%20Rinse%20Repeat%20at%20CSV%2Cconf%2Cv2.pdf"><md-icon>help</md-icon> PDF Slides</md-button></p>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="3"
      md-colspan="6"
      md-colspan-md="4"
      md-colspan-sm="2"
    >
      <div layout layout-fill class="grid-tile-content additional-tools" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <div class="tool-name" translate>ADDITIONAL_TOOLS</div>
          <ul class="tool-list">
            <li><a href="http://openrefine.org" translate>OPEN_REFINE</a></li>
            <li><a href="https://managerv2.cortext.net/login" translate>CORTEXT</a></li>
            <li><a href="http://www.alteryx.com/" translate>ALTERYX</a></li>
            <li><a href="http://www.tableau.com/" translate>TABLEAU</a></li>
            <li><a href="http://raw.densitydesign.org/" translate>RAW</a></li>
            <li><a href="http://gephi.org/" translate>GEPHI</a></li>
          </ul>
        </div>
      </div>
    </md-grid-tile>

  </md-grid-list>
  </div>
</div>