<div layout="row" layout-fill>
  <md-content layout="column" layout-padding class="general-panel-left">
    <h1 translate>TITLE</h1>
    <p>TODO: content</p>
  </md-content>
  <div layout="column" flex class="general-panel-right tools-grid">
    <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile
      class="big-tool"
      md-rowspan="2"
      md-colspan="3"
      md-colspan-sm="2"
      md-colspan-xs="1"
    >
      <div layout-fill class="grid-tile-content">
        <!-- <img src="res/hyphe.png"> -->
      </div>
      <!-- Web crawler, network visualization, curation -->
      <md-grid-tile-footer>
        <h3 translate>HYPHE</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      class="network-tool"
      md-rowspan="2"
      md-colspan="2"
      md-rowspan-sm="1"
      md-colspan-xs="1"
    >
      <md-grid-tile-footer>
        <h3 translate>TABLE2NET</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      class="network-tool"
      md-rowspan="2"
      md-colspan="2"
      md-rowspan-sm="1"
      md-colspan-xs="1"
    >
      <md-grid-tile-footer>
        <h3 translate>SEEALSOLOGY</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      class="big-tool"
      md-rowspan="2"
      md-colspan="3"
      md-colspan-sm="2"
      md-colspan-xs="1"
    >
      <md-grid-tile-footer>
        <h3 translate>MANYLINES</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      class="utility-tool"
      md-rowspan="2"
      md-rowspan-sm="1"
    >
      <md-grid-tile-footer>
        <h3 translate>SCIENCESCAPE</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      class="utility-tool"
      md-rowspan="2"
      md-rowspan-sm="1"
    >
      <md-grid-tile-footer>
        <h3 translate>IWANTHUE</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
  </div>
</div>