<div layout="row" layout-fill>
  <md-content layout="column" layout-padding class="general-panel-left">
    <h1 translate>TITLE</h1>
    <p>TODO: content</p>
  </md-content>
  <div layout="column" flex class="general-panel-right tools-grid">
    <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile
      md-rowspan="2"
      md-colspan="3"
      md-colspan-sm="2"
      md-colspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-hyphe" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/hyphe-logo.png"/>
          <div class="tool-name" translate>HYPHE_NAME</div>
          <div class="tool-function" translate>HYPHE_CATCHPHRASE</div>
          <ul class="tool-list" translate>HYPHE_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>HYPHE_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-colspan="3"
      md-colspan-sm="2"
      md-colspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-tcat" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/tcat-logo.png"/>
          <div class="tool-name" translate>TCAT_NAME</div>
          <div class="tool-function" translate>TCAT_CATCHPHRASE</div>
          <ul class="tool-list" translate>TCAT_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>TCAT_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-colspan="2"
      md-rowspan-sm="1"
      md-colspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-table2net" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/table2net-logo.png"/>
          <div class="tool-name" translate>TABLE2NET_NAME</div>
          <div class="tool-function" translate>TABLE2NET_CATCHPHRASE</div>
          <ul class="tool-list" translate>TABLE2NET_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>TABLE2NET_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-colspan="2"
      md-rowspan-sm="1"
      md-colspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-seealsology" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/seealsology-logo.png"/>
          <div class="tool-name" translate>SEEALSOLOGY_NAME</div>
          <div class="tool-function" translate>SEEALSOLOGY_CATCHPHRASE</div>
          <ul class="tool-list" translate>SEEALSOLOGY_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>SEEALSOLOGY_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-colspan="3"
      md-colspan-sm="2"
      md-colspan-xs="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-manylines" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/manylines-logo.png"/>
          <div class="tool-name" translate>MANYLINES_NAME</div>
          <div class="tool-function" translate>MANYLINES_CATCHPHRASE</div>
          <ul class="tool-list" translate>MANYLINES_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>MANYLINES_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-rowspan-sm="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-sciencescape" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/sciencescape-logo.png"/>
          <div class="tool-name" translate>SCIENCESCAPE_NAME</div>
          <div class="tool-function" translate>SCIENCESCAPE_CATCHPHRASE</div>
          <ul class="tool-list" translate>SCIENCESCAPE_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>SCIENCESCAPE_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-rowspan-sm="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-iwanthue" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/iwanthue-logo.png"/>
          <div class="tool-name" translate>IWANTHUE_NAME</div>
          <div class="tool-function" translate>IWANTHUE_CATCHPHRASE</div>
          <ul class="tool-list" translate>IWANTHUE_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>IWANTHUE_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile
      md-rowspan="2"
      md-rowspan-sm="1"
    >
      <div layout layout-fill class="grid-tile-content tool-tile img-csvrinserepeat" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <img src="res/csvrinserepeat-logo.png"/>
          <div class="tool-name" translate>CSVRINSEREPEAT_NAME</div>
          <div class="tool-function" translate>CSVRINSEREPEAT_CATCHPHRASE</div>
          <ul class="tool-list" translate>CSVRINSEREPEAT_LIST</ul>
        </div>
      </div>
      <md-grid-tile-footer>
        <h3 translate>CSVRINSEREPEAT_FOOTER</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <!-- Special tile for the list of additional resources -->
    <md-grid-tile
      md-rowspan="2"
      md-colspan="6"
    >
      <div layout layout-fill class="grid-tile-content additional-tools" layout-align="center center">
        <div layout="column" layout-padding class="grid-tile-text">
          <div class="tool-name" translate>ADDITIONAL_TOOLS</div>
          <ul class="tool-list">
            <li><a href="http://openrefine.org" translate>OPEN_REFINE</a></li>
            <li><a href="https://managerv2.cortext.net/login" translate>CORTEXT</a></li>
            <li><a href="http://www.alteryx.com/" translate>ALTERYX</a></li>
            <li><a href="http://www.tableau.com/" translate>TABLEAU</a></li>
            <li><a href="http://raw.densitydesign.org/" translate>RAW</a></li>
            <li><a href="http://gephi.org/" translate>GEPHI</a></li>
          </ul>
        </div>
      </div>
    </md-grid-tile>

  </md-grid-list>
  </div>
</div>